name: crypto_awad
description: Crypto_Awad - تطبيق أخبار العملات الرقمية (عربي/إنجليزي)
version: 1.0.0+1
publish_to: none

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.6
  intl: ^0.20.2
  flutter_localizations:
    sdk: flutter
  sqflite: ^2.2.8
  path_provider: ^2.0.13
  firebase_core: ^2.8.0
  firebase_messaging: ^14.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/icons/app_icon.png
